Sprint 2 Joao/Chatbot/Sprint2-AutoCheckup.json
[
    {
        "id": "81c2b637ef44d0ac",
        "type": "tab",
        "label": "Fluxo 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "f59593a6571c9f38",
        "type": "function",
        "z": "81c2b637ef44d0ac",
        "name": "function 8",
        "func": "msg.payload.content = \"Você não é um usuário autorizado\";\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2080,
        "y": 820,
        "wires": [
            [
                "4d0bfe90edf24d13"
            ]
        ]
    },
    {
        "id": "71ce81c1c3d6634a",
        "type": "telegram receiver",
        "z": "81c2b637ef44d0ac",
        "name": "",
        "bot": "04f4d5cb4a56a1ab",
        "saveDataDir": "",
        "filterCommands": false,
        "x": 150,
        "y": 280,
        "wires": [
            [
                "9e2613348602fdcc",
                "705e2e4ea1d7d068"
            ],
            [
                "f59593a6571c9f38"
            ]
        ]
    },
    {
        "id": "4d0bfe90edf24d13",
        "type": "telegram sender",
        "z": "81c2b637ef44d0ac",
        "name": "",
        "bot": "04f4d5cb4a56a1ab",
        "haserroroutput": false,
        "outputs": 1,
        "x": 2690,
        "y": 440,
        "wires": [
            [
                "562ca30ea305b265"
            ]
        ]
    },
    {
        "id": "9e2613348602fdcc",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Entrada de mensagem no Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570,
        "y": 120,
        "wires": []
    },
    {
        "id": "705e2e4ea1d7d068",
        "type": "switch",
        "z": "81c2b637ef44d0ac",
        "name": "",
        "property": "payload.type",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "message",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "voice",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 280,
        "wires": [
            [
                "9747ad25390a5a34"
            ],
            [
                "fab29fbcbd46d3c9"
            ]
        ]
    },
    {
        "id": "c13069cecf08dc8c",
        "type": "change",
        "z": "81c2b637ef44d0ac",
        "name": "Saída",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 440,
        "wires": [
            [
                "7d9220e83144baf6",
                "212433ebfedfb08e",
                "4d0bfe90edf24d13"
            ]
        ]
    },
    {
        "id": "cd729b3072b8d35b",
        "type": "function",
        "z": "81c2b637ef44d0ac",
        "name": "ProcIN TELEGRAM",
        "func": "msg.payload = {\n    chatId : '1771343549',\n    content : msg.payload,\n    type : 'message'\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 280,
        "wires": [
            [
                "d28c36b6080c0dd5"
            ]
        ]
    },
    {
        "id": "562ca30ea305b265",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Retorno",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2860,
        "y": 360,
        "wires": []
    },
    {
        "id": "9747ad25390a5a34",
        "type": "change",
        "z": "81c2b637ef44d0ac",
        "name": "Preparando Entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 840,
        "y": 380,
        "wires": [
            [
                "0519a02a4d23bd80",
                "f4425a5ac350b066"
            ]
        ]
    },
    {
        "id": "fab29fbcbd46d3c9",
        "type": "function",
        "z": "81c2b637ef44d0ac",
        "name": "function 9",
        "func": "msg.payload = msg.payload.weblink;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 640,
        "y": 240,
        "wires": [
            [
                "3138b91d5dfbfc48",
                "47f00427837964db"
            ]
        ]
    },
    {
        "id": "0519a02a4d23bd80",
        "type": "watson-assistant-v2",
        "z": "81c2b637ef44d0ac",
        "name": "AutoCheckup",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/1aa14c9b-a495-4705-834a-52c04e149a98",
        "assistant_id": "abf0585f-2261-4a0e-9a7b-faef05e8989a",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1280,
        "y": 380,
        "wires": [
            [
                "74c799badf496382",
                "c13069cecf08dc8c"
            ]
        ]
    },
    {
        "id": "7d9220e83144baf6",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "debug 3",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1600,
        "y": 540,
        "wires": []
    },
    {
        "id": "3138b91d5dfbfc48",
        "type": "watson-speech-to-text",
        "z": "81c2b637ef44d0ac",
        "name": "STT",
        "alternatives": 1,
        "speakerlabels": false,
        "smartformatting": false,
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "custom-weight": "0.5",
        "band": "BroadbandModel",
        "bandhidden": "",
        "keywords": "",
        "keywords-threshold": "0.5",
        "word-confidence": false,
        "password": "",
        "apikey": "YecU5TTmv-AWcWmCFy8VCqNohxOeLbzb3MYV5ujk5omg",
        "payload-response": true,
        "streaming-mode": false,
        "streaming-mute": true,
        "auto-connect": false,
        "discard-listening": false,
        "disable-precheck": false,
        "service-endpoint": "https://api.us-south.speech-to-text.watson.cloud.ibm.com/instances/91b3927e-92b1-4258-a9ad-b9d6786606b0",
        "x": 870,
        "y": 280,
        "wires": [
            [
                "e26a39f849fb4b4b",
                "cd729b3072b8d35b"
            ]
        ]
    },
    {
        "id": "f4425a5ac350b066",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "debug 4",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1100,
        "y": 460,
        "wires": []
    },
    {
        "id": "47f00427837964db",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "SST",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 810,
        "y": 180,
        "wires": []
    },
    {
        "id": "74c799badf496382",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Resposta do Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1500,
        "y": 320,
        "wires": []
    },
    {
        "id": "e26a39f849fb4b4b",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Saída STT",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1050,
        "y": 200,
        "wires": []
    },
    {
        "id": "300aaaac1bc159e5",
        "type": "watson-text-to-speech",
        "z": "81c2b637ef44d0ac",
        "name": "TTS",
        "lang": "pt-BR",
        "langhidden": "pt-BR",
        "langcustom": "NoCustomisationSetting",
        "langcustomhidden": "",
        "voice": "pt-BR_IsabelaV3Voice",
        "voicehidden": "pt-BR_IsabelaV3Voice",
        "format": "audio/wav",
        "password": "",
        "apikey": "0Epzt1bkpI6s68jjr8MEbqT0iPongfajEjpnNqUpY6DA",
        "payload-response": true,
        "service-endpoint": "https://api.us-south.text-to-speech.watson.cloud.ibm.com/instances/dc58013d-757d-47c2-9a28-0aa3cb345afc",
        "x": 1990,
        "y": 520,
        "wires": [
            [
                "96fc75e440cd22f0",
                "c31e946b1c72c2ce",
                "b174535c608d9f63"
            ]
        ]
    },
    {
        "id": "c31e946b1c72c2ce",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Saída",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2150,
        "y": 480,
        "wires": []
    },
    {
        "id": "96fc75e440cd22f0",
        "type": "play audio",
        "z": "81c2b637ef44d0ac",
        "name": "Isabela",
        "voice": "17",
        "x": 2180,
        "y": 540,
        "wires": []
    },
    {
        "id": "b174535c608d9f63",
        "type": "function",
        "z": "81c2b637ef44d0ac",
        "name": "function 10",
        "func": "msg.payload = {\n    chatId:\"1771343549\",\n    type: \"voice\",\n    content: msg.payload\n};\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 2170,
        "y": 600,
        "wires": [
            [
                "0388331b0059fa1b",
                "4d0bfe90edf24d13"
            ]
        ]
    },
    {
        "id": "0388331b0059fa1b",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Resposta Enviada",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 2330,
        "y": 660,
        "wires": []
    },
    {
        "id": "212433ebfedfb08e",
        "type": "function",
        "z": "81c2b637ef44d0ac",
        "name": "Proc Entrada",
        "func": "msg.payload = msg.payload.content;\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1830,
        "y": 520,
        "wires": [
            [
                "300aaaac1bc159e5"
            ]
        ]
    },
    {
        "id": "d28c36b6080c0dd5",
        "type": "change",
        "z": "81c2b637ef44d0ac",
        "name": "Preparando Entrada",
        "rules": [
            {
                "t": "set",
                "p": "params.session_id",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "chatId",
                "pt": "msg",
                "to": "payload.chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.content",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1380,
        "y": 160,
        "wires": [
            [
                "a3b34cbe76861f2a"
            ]
        ]
    },
    {
        "id": "a3b34cbe76861f2a",
        "type": "watson-assistant-v2",
        "z": "81c2b637ef44d0ac",
        "name": "AutoCheckup",
        "service-endpoint": "https://api.au-syd.assistant.watson.cloud.ibm.com/instances/1aa14c9b-a495-4705-834a-52c04e149a98",
        "assistant_id": "abf0585f-2261-4a0e-9a7b-faef05e8989a",
        "debug": false,
        "restart": false,
        "return_context": true,
        "alternate_intents": false,
        "multisession": true,
        "timeout": "",
        "optout-learning": false,
        "persist-session-id": false,
        "x": 1580,
        "y": 100,
        "wires": [
            [
                "aa663a377c19a137",
                "baa6b48f6ebf60b7"
            ]
        ]
    },
    {
        "id": "aa663a377c19a137",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "Resposta do Telegram",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1780,
        "y": 40,
        "wires": []
    },
    {
        "id": "baa6b48f6ebf60b7",
        "type": "change",
        "z": "81c2b637ef44d0ac",
        "name": "Saída",
        "rules": [
            {
                "t": "set",
                "p": "payload.chatId",
                "pt": "msg",
                "to": "chatId",
                "tot": "msg"
            },
            {
                "t": "set",
                "p": "payload.type",
                "pt": "msg",
                "to": "message",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "payload.content",
                "pt": "msg",
                "to": "payload.output.generic[0].text",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1810,
        "y": 160,
        "wires": [
            [
                "2df6b75545c3e2be",
                "4d0bfe90edf24d13"
            ]
        ]
    },
    {
        "id": "2df6b75545c3e2be",
        "type": "debug",
        "z": "81c2b637ef44d0ac",
        "name": "debug 5",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1980,
        "y": 140,
        "wires": []
    },
    {
        "id": "04f4d5cb4a56a1ab",
        "type": "telegram bot",
        "botname": "@AutoCheckup_bot",
        "usernames": "",
        "chatids": "",
        "baseapiurl": "",
        "updatemode": "polling",
        "pollinterval": "300",
        "usesocks": false,
        "sockshost": "",
        "socksprotocol": "socks5",
        "socksport": "6667",
        "socksusername": "anonymous",
        "sockspassword": "",
        "bothost": "",
        "botpath": "",
        "localbotport": "8443",
        "publicbotport": "8443",
        "privatekey": "",
        "certificate": "",
        "useselfsignedcertificate": false,
        "sslterminated": false,
        "verboselogging": false
    }
]